@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
	--primaryBgColor: #dad5cf;
	--secondaryBgColor: #c67258;
	--dark: #373a36;
	--light: #ffffff;
	--primaryFont: Arial, Helvetica, sans-serif;
	--secondaryFont: 'Montserrat', sans-serif;
}
